
.content-itemform {

    width: 100%;
    font-weight: 500;
    font-size: 0.87rem;
    line-height: 1.06rem;
    margin-bottom: 0.5rem;
    
}
.content-itemform ::nth-last-child() input{
        margin-bottom: 50px;
}
.isBoldTitle{
    font-weight: 700;
}